.galleryContainer {
  display: inline-block;
  position: relative;
  height: calc(80vh - 4vh - 6px);
  width: 100vw;
  margin-top: calc(20vh + 4vh - 4px);
  opacity: 1;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.galleryContainer::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 780px) and (orientation: portrait) {
  .galleryContainer {
    height: calc((80vh - 4vh - 6px) / 2);
  }
}
