.galleryImg {
  display: inline-block;
  height: calc(100% - 8px);
  width: auto;
  transition: opacity 0.5s;
}

.opacityZero {
  opacity: 0;
}

.fadeInGalleryImg {
  animation: fade-in-gallery-img 0.5s forwards ease-out;
}

@keyframes fade-in-gallery-img {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
