.appContent {
  display: inline-block;
  position: relative;
}

a:link,
a:visited,
a:hover,
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.containerBoundaryBorder {
  display: block;
  position: absolute;
  height: 2px;
  width: 100vw;
  border-top: 2px solid rgb(255, 255, 255);
  z-index: 2;
  left: 100vw;
  opacity: 0;
  animation: bottom-border-slide-in 1.3s forwards ease-out;
  z-index: 8;
}

.containerBoundaryBorderBottom {
  bottom: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
